:root{
    --Logo: #2ffa06;
    --Fundo: #050300fa;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elemento Base*/
body{
    background: var(--Fundo);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
display: flex;
align-items: center;
justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--Logo);
    font-family: cursive;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;

}

/*Filme Principal*/

.filme-principal{
    font-size: 16px;
    background: url(/img/chosen2.jpg);
    
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 25px;
    margin-bottom: 40px;
    width: 60%;
    color: rgb(243, 245, 241); ;
}

.titulo{
    margin-top: 15%;
    font-size: 70px;
    color: rgb(111, 124, 119);
}

.botao{
    background-color: rgba(0, 0, 0, 0.50);
    margin-right: 15px;
    color: #fff;

    padding: 15px 30px;
    font-size: 12px;
    transition: 1s ease all;
    cursor: pointer;

}

.botao:hover{
    background-color: #fff;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filmes{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100%;
    width: 100%;
    display: block;
}

